@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@400;700&display=swap");

$lgt: 1280px;
$mdt: 1024px;
$smt: 768px;
$sxt: 400px;

$main__font: "Aleo", serif;
$second_font: "Josefin Sans", sans-serif;

$text_color: #ffffff;
$main_color: #5474fd;

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
.outer {
    max-width: 1600px;
    min-width: 400px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: relative;

    &__div {
        position: relative;
    }

    &__img {
        width: 100%;
    }

    &__menu {
        width: 100%;
        min-height: 1em;
        background-color: $main_color;
        position: absolute;
        bottom: 0;
    }
}

.header__menu-logo {
    font-family: $second_font;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: 700;
    color: $text_color;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu-item {
    font-family: $main__font;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    color: $text_color;
    margin-left: 2em;
    text-decoration: none;
}

.header__menu-item:hover {
    transition: 1s;
    transform: scale(1.4);
}

.header__logo {
    position: absolute;
    bottom: 59%;
    left: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logobig {
    font-family: $second_font;
    font-size: 48px;
    letter-spacing: 5px;
    line-height: 1.8;
    font-weight: 700;
    color: $text_color;
    padding: 0;
    margin: 0;
}

.header__logotext {
    font-family: $second_font;
    font-size: 22px;
    letter-spacing: 7px;
    line-height: 0.8;
    font-weight: normal;
    color: $text_color;
    padding: 0;
    margin: 0;
    @media (max-width: $smt) {
        opacity: 0;
    }
}

.header__input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 46%;
    left: 35%;
    width: 30em;
    @media (max-width: $mdt) {
        max-width: 50%;
    }
    @media (max-width: $smt) {
        top: 50%;
    }
}

.input {
    width: 35em;
    height: 3em;
    margin-right: -0.11em;
}

.input::placeholder {
    font-family: $second_font;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 1.8;
    color: #999999;
    text-align: center;
    @media (max-width: $smt) {
        opacity: 0;
    }
}

.btn {
    padding: 4%;
    font-family: $main__font;
    color: $text_color;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background: #5474fd;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: all 0.5s;
}

.header__btn {
    font-family: $main__font;
    color: $text_color;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    height: 3em;
    border: 2px solid $text_color;
    width: 14em;
    background: #5474fd;
}

.btn:before {
    content: "Search";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5474fd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
}

.why__btn:before {
    content: "Explore places";
}

.book_btn:before {
    content: "Book now";
}

.btn:hover:before {
    opacity: 1;
    transform: scale(1);
}

.search-btn {
    margin-left: 0.5em;
}

.header__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 25%;
    left: 50%;
    cursor: pointer;
}

.header__scroll:hover {
    transition: 1s;
    transform: scale(1.1);
}

.arrow {
    margin-top: -1em;
    color: $text_color;
}
.scroll-p {
    color: $text_color;
    font-family: $second_font;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 1.8;
}

.why {
    position: relative;

    &__img {
        max-width: 100%;
    }
    &__content {
        max-width: 80%;
        margin: 0 auto;
    }
    &__text {
        max-width: 50%;
        position: absolute;
        top: 15%;
        padding-right: 14%;
    }
    &__h {
        font-family: $main__font;
        font-size: 36px;
        line-height: 0.7;
        font-weight: 400;
        color: $text_color;
        padding-bottom: 2%;
    }
    &__p {
        font-family: $second_font;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 2px;
        color: #e8e8e8;

        @media (max-width: $mdt) {
            display: none;
        }
    }
    &__p2 {
        padding-bottom: 2%;
    }
    &__img1 {
        position: absolute;
        top: 13%;
        left: 50%;
    }
    &__img2 {
        position: absolute;
        top: 50%;
        left: 60%;
        @media (max-width: $mdt) {
            opacity: 0;
        }
    }
}

.places {
    width: 100%;
    background-color: #333333;
    margin-top: -0.5em;
    position: relative;

    &__div {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 10% 5% 5% 5%;
    }
    &__serch-p {
        font-family: $main__font;
        font-size: 36px;
        color: #e8e8e8;
        line-height: 0.7;
        font-weight: 400;
        text-align: center;
    }
    &__search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__radius {
        position: absolute;
        top: 8%;
        left: 25%;
        @media (max-width: $lgt) {
            left: 20%;
        }
        @media (max-width: $mdt) {
            opacity: 0;
        }
    }
    &__radius2 {
        position: absolute;
        top: 8%;
        left: 53%;
        @media (max-width: $lgt) {
            left: 50%;
        }
        @media (max-width: $mdt) {
            opacity: 0;
        }
    }
}

.spain1 {
    position: relative;

    &__div {
        max-width: 540px;
        background-color: #232323;
        opacity: 0.8;
        position: absolute;
        top: 30%;
        left: 15%;
        padding: 2%;
    }
    &__h3 {
        font-family: $second_font;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 2px;
        color: #e8e8e8;
    }
    &__h2 {
        font-family: $second_font;
        font-size: 20px;
        line-height: 1.3;
        color: $text_color;
        text-transform: uppercase;
    }
    &__p {
        font-family: $second_font;
        font-size: 16px;
        line-height: 1.6;
        color: #e8e8e8;
        padding-bottom: 2%;

        @media (max-width: $mdt) {
            display: none;
        }
    }
}

.spain2 {
    margin-top: -0.5em;
    position: relative;

    &__div {
        max-width: 540px;
        background-color: #232323;
        opacity: 0.8;
        position: absolute;
        padding: 2%;
        top: 35%;
        left: 50%;
        @media (max-width: $mdt) {
            top: 10%;
        }
    }
}

.tourist {
    margin-top: -0.5em;
    position: relative;
    @media (max-width: $smt) {
        display: none;
    }

    &__h {
        position: absolute;
        top: 10%;
        left: 35%;
    }
    &__div {
        background-color: #333333;
        display: flex;
        max-width: 65%;
        position: absolute;
        top: 30%;
        left: 20%;
        @media (max-width: $mdt) {
        }
    }
    &__div-img {
        width: 40%;
    }
    &__text {
        background-color: #333333;
        width: 60%;
        padding-left: 3%;
        padding-top: 1%;
    }
    &__h2 {
        font-family: $second_font;
        font-size: 20px;
        line-height: 1.3;
        color: #fefefe;
        text-transform: uppercase;
    }
    &__p {
        font-family: $second_font;
        font-size: 16px;
        line-height: 1.6;
        color: #e8e8e8;
    }
}

.blockquote {
    margin: 0;
}

.blockquote:before {
    content: '"';
    font-size: 2em;
    color: $main_color;
    font-weight: bold;
}

.footer {
    background-color: #232323;
    margin-top: -1.5em;

    &__h2 {
        font-family: $second_font;
        font-size: 24px;
        letter-spacing: 3px;
        line-height: 1;
        color: $text_color;
        font-weight: 700;
        text-align: center;
        padding-top: 2%;
        text-transform: uppercase;
    }

    &__h3 {
        font-family: $second_font;
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 1.6;
        color: $text_color;
        text-align: center;
    }
}

.icons {
    color: $text_color;
    cursor: pointer;
    text-align: center;
    padding-bottom: 3%;
}

.icon:hover {
    color: $main_color;
}

.icon {
    margin-left: 1%;
}
